<div class="comment_container">
  <div class="comment_header">
    <span><%= comment.title %></span>

    <% if(comment.user_id === userId) { %>
      <form action="">
        <button class="btn btn-danger">Delete</button>
      </form>
    <% } else { %> 
      <span><%= comment.first_name %> <%= comment.last_name %></span>
    <% } %>
  </div>

  <p class="comment_text"><%= comment.body %></p>
</div>