<nav class="navbar">
  <h2 class="navbar__logo">ShadowNet</h2>

  <ul class="navbar__list">
    <li class="navbar__listItem">
      <a href="/users/myfeed">Feed</a>
    </li>
    <li class="navbar__listItem">
      <a href="#">Forums</a>
    </li>
    <li class="navbar__listItem">
      <a href="/users/myprofile">Profile</a>
    </li>
    <li class="navbar__listItem">
      <a href="#">Logout</a>
    </li>
    <li class="navbar__listItem">
      <a href="/auth/login">Login</a>
    </li>
    <li class="navbar__listItem">
      <a href="/auth/register">Register</a>
    </li>
  </ul>
</nav>