<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "" }) %>

<div class="container">
  <h1 class="single_thread_header page__title">Edit Forum</h1>

  <form action="">

    <div class="form_group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Forum title">
    </div>

    <div class="form_group">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="10" placeholder="Forum description"></textarea>
    </div>

    <div class="form_group">
      <label for="image">Image</label>
      <input name="image" id="image" type="file" >
    </div>

    <button class="btn btn-primary">Edit</button>
  </form>
</div>

<%- include('./partials/footer.ejs') %>

