<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { link: "Feed" }) %>

<div class="container">

  <div class="feed__header">
    <h1 class="page__title">Feed Page</h1>
    
    <div>
      <a href="/polls/new" class="btn btn-secondary">Create Poll</a>
      <a href="/threads/new" class="btn">Create Thread</a>
    </div>
  </div>

  <% feedData.forEach(data => { %>   
    <%- include('./partials/thread.ejs', { data } ) %>
  <% }); %>


</div>


<%- include('./partials/footer.ejs') %>