<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs', { isAuth, link: "Login" }) %>

<form class="auth_form" action="/auth/login" method="POST">
  <h1>Login Page</h1>

  <div class="form_group">
    <label for="email">Email</label>
    <input
      type="email"
      required
      placeholder="Enter email address"
      name="email"
      id="email"
    />
  </div>

  <div class="form_group">
    <label for="password">Password</label>
    <input
      type="password"
      required
      placeholder="Enter email password"
      name="password"
      id="password"
    />
  </div>

  <button class="btn btn-primary btn-block">Login</button>

  <a href="/auth/register">Don't have account yet? Click Here</a>
</form>

<%- include('./partials/footer.ejs') %>

